*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Raleway", sans-serif;
}

body{
    background: #E6FDFF;
    position: relative;
}

nav{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #fff;
}

nav .logo-wrapper span{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

nav .menu-wrapper .menu-wrapper-list{
    display: none;
}

nav .menu-wrapper .menu-wrapper-list ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

nav .menu-wrapper .menu-wrapper-list li{
    margin-top: 15px;
    list-style-type: none;
}

nav .menu-wrapper .menu-wrapper-list li a{
    font-size: 20px;
}

a{
    color: inherit;
    text-decoration: none;
}

.open{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: -135px;
    width: 100%;
    min-height: 100%;
    padding-bottom: 20px;
    background: #ffffff;
}

.hamburger-menu {
    display: inline-block;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #333;
}

.hamburger-menu span:last-child{
    margin: 0;
}

article{
    padding: 20px 15px;
}

.hero-copy, .hero-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-image img{
    max-width: 100%;
}

h1{
    color: #333;
    text-align: center;
}

article button{
    margin: 30px auto;
    width: 200px;
    padding: 15px 0;
    border-radius: 30px;
    border: none;
    background: #1F487E;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

article button:hover{
    background: #3F688F;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
}

.slide img{
    max-width: 300px;
}

.slide.active {
    opacity: 1;
}

.bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 -4px 24px -7px rgba(29, 30, 43, 1);
    -moz-box-shadow: 0 -4px 24px -7px rgba(29, 30, 43, 1);
    box-shadow: 0 -4px 24px -7px rgba(29, 30, 43, 1);
}

.bar button{
    border: none;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    font-size: 14px;
    background: #1F487E;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.bar button:first-child{
    margin-top: 0;
}

.bar p{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 150px;
    background: #fff;
    border-radius: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 -4px 24px -7px rgba(29, 30, 43, 1);
    -moz-box-shadow: 0 -4px 24px -7px rgba(29, 30, 43, 1);
    box-shadow: 0 -4px 24px -7px rgba(29, 30, 43, 1);
}

.popup span{
    position: absolute;
    right: 30px;
    top: 15px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 767px){
    nav .logo-wrapper span{
        font-size: 32px;
    }
    nav .hamburger-menu{
        display: none;
    }

    nav .menu-wrapper .menu-wrapper-list{
        display: flex;
    }

    nav .menu-wrapper .menu-wrapper-list li{
        margin-top: 0;
        margin-right: 35px;
    }

    nav .menu-wrapper .menu-wrapper-list li:last-child{
        margin: 0;
    }

    .hero{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 15px;
    }

    .hero-copy{
        align-items: flex-start;
        justify-content: flex-start;
    }

    h1{
        text-align: left;
        max-width: 80%;
        font-size: 36px;
    }

    article button{
        margin: 30px 0;
    }

    .bar{
        flex-direction: row;
    }

    .bar button{
        margin: 0 10px;
    }

    .popup{
        width: 350px;
        height: 250px;
    }
}

@media screen and (min-width: 1199px) {
    nav{
        padding: 15px 200px;
    }
    .hero{
        padding: 35px 200px;
    }

    h1{
        font-size: 48px;
        max-width: 60%;
        line-height: 1.3;
    }

    article button{
        width: 320px;
        padding: 20px 0;
    }
}
